:root {
    --sedanColor: hsl(31, 77%, 52%);
   --suvColor: hsl(184, 100%, 22%);
    --luxuryColor: hsl(179, 100%, 13%);
    --pColor: hsla(0, 0%, 100%, 0.75);
    --btnColor: hsl(0, 0%, 95%);
}

article {
    color: var(--btnColor);
    display: flex;
    flex-direction: column;
}

.sedan {
background-color: var(--sedanColor);
}

.suv {
background-color: var(--suvColor);
}

.luxury {
background-color: var(--luxuryColor);
}

section {
    display: flex;
}

.learn {
    background-color: var(--btnColor);
    opacity: 0.5;
}